body {
    margin: 0;
    background-color: rgb(186, 217, 255);
    font-family: Arial, Geneva, Tahoma, sans-serif;
}

body.index {
    background-color: rgb(29, 147, 220);
}

nav {
    background-color: rgb(0, 25, 125);
    display: flex;
    font-weight: bold;
}

nav a {
    color: rgb(212, 212, 212);
    font-size: 20px;
    text-decoration: none;
    padding: 20px 20px;
    display: inline-block;
}

nav a:hover {
    color: rgb(255, 255, 255);
}

.description {
    height: 150px;
    width: 500px;
    margin: 0 auto; /* center the content horizontally */
    color: white;
    text-align: center;
}

.player-img {
    width: 100px;
    height: auto;
    display: block;
    margin: auto;
}

.comparechart {
    display: flex;
    flex-direction: column;
    background: white;
    width: fit-content;
    margin: 50px auto;
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.stat-row {
    display: grid;
    grid-template-columns: 150px 100px 150px; /* Player 1 | Stat | Player 2 */
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
}

.stat-header {
    background-color: rgb(0, 25, 125);
    color: white;
    font-weight: bold;
}

.highlight {
    font-weight: bold;
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 20px;  /* spacing between player 1 & 2 */
    margin: 20px 0;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box input {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.search-box button {
    padding: 8px 12px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.search-box button:hover {
    background-color: #005fa3;
}

.link-button {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 50px;
}

.link-button button {
    padding: 12px 12px;
    background-color: #004598;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.link-button button:hover {
    background-color: #002e83;
}